.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 400px;
}

.input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  outline: none;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input:focus {
  background: rgba(255, 255, 255, 0.4);
}

.button {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-top: 10px;
  animation: fade-in-out 5s ease-in-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.linkWrapper {
  display: flex;
  justify-content: space-between; /* אחד בצד שמאל והשני בצד ימין */
  align-items: center;
  width: 26%;
  padding: 0 20px; /* רווח מהקצוות */
  margin-top: 10px;
}

.linkContainerhome {
  text-decoration: none; /* עיצוב אופציונלי להסרת קו תחתון */
  font-size: 16px;
}
.linkContainerhome a:hover {
  text-decoration: underline;
}
