.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 400px;
  padding: 20px; /* רווח פנימי למראה מסודר במכשירים קטנים */
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.input {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  outline: none;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.input:focus {
  background: rgba(255, 255, 255, 0.4);
}

.addButton {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.addButton:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.addButton:active {
  transform: scale(0.95);
}

/* רספונסיביות למסכים קטנים */
@media (max-width: 768px) {
  .title {
    font-size: 2rem; /* מקטין את הכותרת */
    margin-bottom: 1.5rem; /* מקטין את המרווח התחתון */
  }

  .input {
    font-size: 0.9rem; /* מקטין את הפונט */
    padding: 0.6rem 0.8rem; /* מקטין את הריווח הפנימי */
  }

  .addButton {
    font-size: 1rem; /* מקטין את הפונט בכפתור */
    padding: 0.6rem 1.5rem; /* מקטין ריווח פנימי */
  }
}

@media (max-width: 480px) {
  .inputContainer {
    padding: 10px; /* מקטין ריווחים חיצוניים */
  }

  .title {
    font-size: 1.8rem; /* מקטין עוד יותר את הכותרת */
  }

  .input {
    font-size: 0.8rem; /* מקטין את גודל הפונט */
    padding: 0.5rem 0.7rem; /* מקטין את הריווח הפנימי */
  }

  .addButton {
    font-size: 0.9rem; /* מקטין את גודל הפונט בכפתור */
    padding: 0.5rem 1rem; /* מקטין את הריווח הפנימי */
  }
}
